# Created by .ignore support plugin (hsz.mobi)
### WordPress template
*.log
.idea
blogs
tmp
wp-config.php
wp-content/advanced-cache.php
wp-content/cache/
wp-content/mu-plugins/
wp-content/plugins/hello.php
wp-content/ai1wm-backups
wp-content/object-cache.php
wp-content/w3tc-config